<!--<ion-header [translucent]="">
  <ion-toolbar>
    <ion-title>De camping</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">De camping</ion-title>
    </ion-toolbar>
  </ion-header>
  .
  Rust, natuur, (actief) buiten leven...

Spot de vuursalamander, wasbeer en ijsvogel, ga vissen, kanoën, tokkel over de Semois, bezoek de kleine speeltuin, rooster marshmallows op je zelf gemaakte kampvuur, neem een duik in de rivier, wandel /fiets/ren in de bossen rondom de camping, geniet van een hapje en drankje op het terras of doe even helemaal niets en geniet. Kortom, de plek voor jong en oud en natuurlijk zijn de trouwe viervoeters ook welkom.
   <ion-card>
    <img src="https://cdn.pixabay.com/photo/2018/12/24/22/19/camping-3893587_1280.jpg"/>
    <ion-card-content class="content">beschrijving</ion-card-content>
   </ion-card> 
</ion-content>
